<p style="padding:0;margin:0">Dear <b><%=@user.name%></b>,</p>
<p style="padding:0;margin:0">Please find the <b>x ray diffraction</b> slot form attached</p><br>
<p style="padding:0;margin:0;color:green;text-decoration:underline;font-weight:bold">Instructions to submit the sample: </p>
<p style="padding:0;margin:0">Tag your <span style="color:green; font-weight:bold"> Sample Unique ID </span> as per code given below while submitting the sample</p>
<ul>
   <li>SG_3_A</li>
   <li>SG_3_B</li>
   <li>SG_3_C</li>
   <li>SG_3_D</li>
</ul>
<p style="padding:0;margin:0">Applicant needs to get signature from their supervisor</p>
<p style="padding:0;margin:0">Consult Instrument Faculty-Incharge with your sample specification & get authenticated</p>
<p style="padding:0;margin:0">After all authenticationsend scan copy to <a href="mailto:booking.crf@nitk.edu.in">booking.crf@nitk.edu.in</a></p><br>
<p style="padding:0;margin:0">Regards</p>
<p style="padding:0;margin:0">Office-CRF</p><hr>
