<h1>X Ray Diffraction Slot Booking</h1>
<h1>Hi , you have successfully filled the slot form.</h1>
<p>Please wait till the slot is slotted.</p>
<p>No of sample is : </p><%= @xrd.sample%>
<p>measurement is :</p> <%= @xrd.measurement%>
