<h1>New integrated multi role tester</h1>

<%= render "form", integrated_multi_role_tester: @integrated_multi_role_tester %>

<br>

<div>
  <%= link_to "Back to integrated multi role testers", integrated_multi_role_testers_path %>
</div>
