<h1>Editing advance molecular rheometer</h1>

<%= render "form", advance_molecular_rheometer: @advance_molecular_rheometer %>

<br>

<div>
  <%= link_to "Show this advance molecular rheometer", @advance_molecular_rheometer %> |
  <%= link_to "Back to advance molecular rheometers", advance_molecular_rheometers_path %>
</div>
