<h1>Editing ion chromotography</h1>

<%= render "form", ion_chromotography: @ion_chromotography %>

<br>

<div>
  <%= link_to "Show this ion chromotography", @ion_chromotography %> |
  <%= link_to "Back to ion chromotographies", ion_chromotographies_path %>
</div>
