<p style="padding:0;margin:0">Dear <b><%= @user.name%></b>, </p>
<p style="padding:0;margin:0">Kindly find attached slot form for: <b>Glove Box</b></p><br>
<p style="color:red;text-decoration:underline;font-weight:bold;">Instructions to submit the sample:</p>
<p style="padding:0;margin:0">1) User need to forward duly signed(E-signature acceptable) slot form to <a  href="mailto:booking.crf@nitk.edu.in">booking.crf@nitk.edu.in</a></p>
<p style="padding:0;margin:0">2) After receiving signed form, concerned Glove Box equipment operator will inform for available slot date</p>
<p style="padding:0;margin:0">3) Tag your <span style="color:green;font-weight:bold">Sample Unique ID</span> as per code given below while submitting the sample.</p>
<ul>
  <li>GB_10_A</li>
  <li>GB_10_B</li>
  <li>GB_10_C</li>
  <li>GB_10_D</li>
</ul><br>
<p style="padding:0;margin:0;font-weight:bold;text-decoration:underline">Address to Post Samples:</p>
<p style="padding:0;margin:0">Central Research Facility,</p>
<p style="padding:0;margin:0">NITK-Surathkal,</p>
<p style="padding:0;margin:0">NH-66 Srinivasnagar,</p>
<p style="padding:0;margin:0">Mangalore-575025, Karnataka.</p>
<p style="padding:0;margin:0">Ph:</p>
<a href="tel:+4733378901">+47 333 78 901</a>
<p style="padding:0;margin:0">(Please mention <b>"Glove Box & <%=@glove_box.id%>" </b> Samples in the postal package)</p>
<p style="padding:0;margin:0">Regards,</p>
<p style="padding:0;margin:0">Glove Box Lab CRF</p>
<p style="padding:0;margin:0">For further query mail us at:<a  href="mailto:booking.crf@nitk.edu.in">booking.crf@nitk.edu.in</a></p><hr>
