<div id="margin">
    <div class="container-11">
          <div class="logo">
              <%= image_tag wicked_pdf_asset_base64("CRF NITK.png"),style:"height:75px;"%>
          </div>
          <div class="crf-heading">
              <p class="fw-bold" style="font-family: 'Montserrat', sans-serif;">NATIONAL INSTITUTE OF TECHNOLOGY KARNATAKA, SURATHKAL </p>
              <p>Srinivasnagar-575 025, D.K</p>
          </div>
      </div>

      <div id="pay-details">
        <div class="left">
          <div class="pan-no">
            <span >PAN No</span><span>AAATN4896K</span>
          </div>
          <div class="pan-no">
            <span >GSTIN : </span><span>AAATN4896K-HGSDGF</span>
          </div>
          <div class="pan-no">
            <span>State Code : </span><span>34F</span>
          </div>
        </div>
        <div class="right">
            <div class="tan-no">
              <span>TAN No: </span><span>BLRK02818E</span>
            </div>
            <div class="tan-no">
              <span>Registration No: </span><span>BLRK02818DFGSDXGHE</span>
            </div>
        </div>
      </div>


      <!-- equipment name -->
      <div class="equipment">
          <h2 class="text-center" id="equip-heading">CENTRAL RESEARCH FACILITY</h2>
      </div>
      <p class="text-center"><u>Demand Note for Book Adjustment</u></p>


      <div id="proforma-inv">
        <div class="left">
          <span id="app-no-tag">Proforma Invoice No:</span><span class="app-no fw-bold element data">NITK/CRF/LFA/123</span>
        </div>
        <div class="right">
          <span>Date: </span><span class="fw-bold data">01/03/2023</span>
        </div>
      </div>

      <div id="letter-format">
          <br>
          <p>To:</p>

          <div id="registrar">
                <span>The Joint Registrar (Accounts)</span>
          </div>
          <div id="registrar-addr">
            <span>NITK, Surathkal</span>
          </div>
          <br>
          <div class="subject text-center">
              <span class="fw-bold">Sub:  </span><span>Book Transfer through Department Operating Cost-reg</span>
              <p class="text-cenetr">*******</p>
          </div>
      </div>

      <div class = "user-info" >
        <p>With Reference to the above, the following testing was made as detailed below:</p>
          <div class="left">
              <div class="element">
                  <span>Applicant Name:</span>
                  <span class="fw-bold data">Akash Gupta</span>
              </div>
              <div class="element">
                  <span>Applicant Email:</span>
                  <span class="fw-bold data">akash.182nt002@nitk.edu.in</span>
              </div>
              <div class="element">
                  <span>Department:</span>
                  <span class="fw-bold data">Metallurgy & Materials</span>
              </div>
          </div>
          <div class = "right">
                <div class="element">


                </div>

          </div>
      </div>

        <p class="text-center" id="sample-details-heading"><u>Sample Details</u></p>
        <div id="sample-details">
            <div class="left">

              <div class="element">
                  <span>Total Amount</span>
                  <span class="fw-bold data"> </span>
              </div>

            </div>

            <div class="right">


            </div>



            </div>

        <div id="testing-req-div">

        </div>


        <div id="signatures-upper">
            <div id="signatures-upper-left-3d-pro" class="element">
                <div>
                    <span>Supervisor Name:</span>
                </div>
                <div>
                    <span class="fw-bold">Dr. Rizwanur Rahman</span>
                </div>
                <div id="debit-head">
                    <span class="text-muted element"><i>Debit Head: Department Operating Cost</i></span>
                </div>

                    <input id="student" type="textfield"/>
                <div>
                    <span>Supervisor Signature</span>
                </div>
            </div>

            <div id="signatures-upper-right-3d-pro" class="element">
                <div id="faculty-incharge">
                    <span>Faculty In-Charge:</span>
                </div>
                    <input id="student" type="textfield"/>
                <div>
                    <span class="fw-bold">Prof K. Narayan Prabhu</span>
                </div>
                <div>
                    <span id="department"><b>(Dept. Of MME, NITK)</b></span>
                </div>
            </div>

        </div>





        <div class="notes ">
            <p class="fw-bold text-center">General Instructions:</p>
            <section class="font-smaller">
                <ul>
                    <li>Samples must be dry, moisture free, free of oil and grease.</li>
                    <li>Compact powder should be used.</li>
                    <li>Sample dia is fixed (<b>1.270 cm</b>) and thickness should be (<b>0.15 cm to 0.5 cm</b>).</li>
                    <li>Melting point of the sample should be known.</li>
                    <li>Bring CD/DVD (pen drive/hard disks are not allowed). </li>
                    <li>Acknowledgment in publication and thesis is compulsory.</li>
                    <li>Copy of Acknowledgment can be mail to <b>office.crf@nitk.edu.in</b> along with publication</li>
                </ul>
               <center> <i>Declaration: I hereby agree to abide by the rules and regulations of the LFA Laboratory</i> </center>
            </section>

            <div class="signatures">
                <div class="student-sign">
                    <input id="student" type="textfield"/>
                    <p>Student signature after experiment</p>
                </div>
                <div class="chairman-sign">
                    <center>Sd/-</center>
                    <i>Chairman CRF</i>
                </div>
            </div>

            <div class="generated-on mt-3">
                <i>Generated on: December 23,2022/ 1:18PM</i>
            </div>

        </div>

</div>
        </div>
