<h1>Editing cell imaging</h1>

<%= render "form", cell_imaging: @cell_imaging %>

<br>

<div>
  <%= link_to "Show this cell imaging", @cell_imaging %> |
  <%= link_to "Back to cell imagings", cell_imagings_path %>
</div>
