<h1>Editing zeta potential size</h1>

<%= render "form", zeta_potential_size: @zeta_potential_size %>

<br>

<div>
  <%= link_to "Show this zeta potential size", @zeta_potential_size %> |
  <%= link_to "Back to zeta potential sizes", zeta_potential_sizes_path %>
</div>
