<p style="color: green"><%= notice %></p>

<h1>Ft nmrs</h1>

<div id="ft_nmrs">
  <% @ft_nmrs.each do |ft_nmr| %>
    <%= render ft_nmr %>
    <p>
      <%= link_to "Show this ft nmr", ft_nmr %>
    </p>
  <% end %>
</div>

<%= link_to "New ft nmr", new_ft_nmr_path %>
