<%= stylesheet_link_tag "loginFeatures"%> <!--Stylesheet of login page-->


  <footer id="links">
    <div class="f-container">
      <div class="left-child">
      <div id="footer-left-child">
        <%=image_tag 'footerImage1.jpg', id:"footer-img" %>
        <h1 id="f-heading">CRF NITK</h1>
      </div>
        <div class="f-text">
          NH 66, Srinivasnagar
          <br> Surathkal, Mangalore
          <br> Karnataka 575025
        </div>

      </div>
      <div class="middle-child">

        <div class="footer-wrapper">
          <div class="icons">
            <ul>
              <li>
                <a title="linkedin" target="_blank" id="first-social" href="https://in.linkedin.com/posts/nitk-surathkal-585b3b18a_launching-of-website-for-the-central-research-activity-6876041356243030016-jRrJ?trk=public_profile_like_view"><i
                    class="fa fa-linkedin icon"></i></a>
              </li>
              <li>
                <a title="github" target="_blank" href="https://github.com/nit-karnataka"> <i
                    class="fa fa-github icon"></i> </a>
              </li>
              <li>
                <a title="instagram" target="_blank" href="https://www.instagram.com/crfnitk/?hl=en"><i
                    class="fa fa-instagram icon"></i></a>
              </li>
              <li>
                <a title="facebook" target="_blank" href="https://www.facebook.com/nitkarnatakaOfficial/posts/launching-of-website-for-the-central-research-facility-crf-nitk-surathkal-the-we/4557827814293809/"><i
                    class="fa fa-facebook icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-child">
        
            <h3>Designed By</h3>
            <div class="wrapper">
              <div class="link-wrapper">
                <button type="button" id="button">CRF Web Team</button>
              </div>
            </div> 
      </div> 
    </div>
  </footer>
