<nav class="navbar bg-body-tertiary mb-3" id="form-back-profile">
    <div class="container-fluid">
      <div id="back-div">
        <div>
          <%= link_to "Back",  :back, class:"btn btn-outline-warning profile-dropdown back-btn-forms" %>
        </div>
      </div>

      
      </div>

  </nav>


