<%= stylesheet_link_tag "developer"%>

<div id="home" class="first_page">
<nav class="navi"> content
</nav>


<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="mailto:anishkumbhar.211cs229@nitk.edu.in">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Full Stack Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>
<h1 class="team-squads">Front End Team</h1>
<div class="wrapper">

  
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="mailto:anishkumbhar.211cs229@nitk.edu.in">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Front End Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>

<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Front End Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>

<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Front End Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>
<h1 class="team-squads">Back End Team</h1>
<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Back End Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>

<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Back End Developer <br>Project Lead
  </div>
</div>



<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Back End Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>


<h1 class="team-squads">Media Team</h1>
<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Media Head <br>Project Lead
  </div>
  <div class="image"></div>
</div>
<div class="wrapper">
  <div class="nav">
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="header header_home">Anish Kumbhar</div>
  <div class="content content_home">Full Stack Developer <br>Project Lead
  </div>
  <div class="image"></div>
</div>

<%=render "partials/footer" %>

  




</div>