<p style="margin:0;padding:0">Dear <b><%=@user.firstname%></b>,</p>
<p style="margin:0;padding:0">Pfa, Demand Note for Book Adjustment for <b>CRF/GS/<%=@gas_sensing.id%></b></p>
<p style="margin:0;padding:0">Please get authorized Signature by your Supervisor and HOD, Submit it to Office-CRF.</p>
<br>
<h2 style="color:red">Kindly Note: E-Signature is not acceptable and submission to be done in hardcopy only on or before 08-03-2023</h2>
<hr>
