<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_list.name %>
</p>

<%= link_to 'Edit', edit_training_list_path(@training_list) %> |
<%= link_to 'Back', training_lists_path %>
