<h1>Editing uv vis nir</h1>

<%= render "form", uv_vis_nir: @uv_vis_nir %>

<br>

<div>
  <%= link_to "Show this uv vis nir", @uv_vis_nir %> |
  <%= link_to "Back to uv vis nirs", uv_vis_nirs_path %>
</div>
