<h1>Editing raman microscope</h1>

<%= render "form", raman_microscope: @raman_microscope %>

<br>

<div>
  <%= link_to "Show this raman microscope", @raman_microscope %> |
  <%= link_to "Back to raman microscopes", raman_microscopes_path %>
</div>
