<p style="padding:0;margin:0">Dear <b><%= @user.name%></b>, </p>
<p style="padding:0;margin:0">Kindly find attached slot form for: <b>Uv-Vis-Nir</b></p><br>
<p style="color:red;text-decoration:underline;font-weight:bold;">Instructions to submit the sample:</p>
<p style="padding:0;margin:0">1) User need to forward duly signed(E-signature acceptable) slot form to <link href="booking.crf.edu.in"></p>
<p style="padding:0;margin:0">2) After receiving signed form, concerned Uv-Vis-Nir equipment operator will inform for available slot date</p>
<p style="padding:0;margin:0">3) Tag your <span style="color:green;font-weight:bold">Sample Unique ID</span> as per code given below while submitting the sample.</p>
<ul style="color:green">
  <li>UV_139_A</li>
  <li>UV_139_B</li>
  <li>UV_139_C</li>
  <li>UV_139_D</li>
  <li>UV_139_E</li>
  <li>UV_139_F</li>
  <li>UV_139_G</li>
  <li>UV_139_H</li>
  <li>UV_139_I</li>
  <li>UV_139_J</li>
  <li>UV_139_K</li>
  <li>UV_139_L</li>
  <li>UV_139_M</li>
  <li>UV_139_N</li>
  <li>UV_139_O</li>
  <li>UV_139_P</li>
  <li>UV_139_Q</li>
  <li>UV_139_R</li>
  <li>UV_139_S</li>
  <li>UV_139_T</li>
</ul><br>
<p style="padding:0;margin:0;font-weight:bold;text-decoration:underline">Address to Post Samples:</p>
<p style="padding:0;margin:0">Central Research Facility,</p>
<p style="padding:0;margin:0">NITK-Surathkal,</p>
<p style="padding:0;margin:0">NH-66 Srinivasnagar,</p>
<p style="padding:0;margin:0">Mangalore-575025, Karnataka.</p>
<p style="padding:0;margin:0">Ph:</p>
<a href="tel:+4733378901">+47 333 78 901</a>
<p style="padding:0;margin:0">(Please mention <b>"Uv-Vis-Nir & CRF/UV/<%=@uv_vis_nir.id%>" </b> Samples in the postal package)</p>
<p style="padding:0;margin:0">Regards,</p>
<p style="padding:0;margin:0">Uv-Vis-Nir Lab CRF</p>
<p style="padding:0;margin:0">For further query mail us at:</p><link  href="booking.crf.edu.in"><hr>
