<p style="padding:0;margin:0">Dear <b><%=@user.firstname%></b>,</p>
<p style="padding:0;margin:0">Please find the <b>uv vis nir</b> slot form attached</p><br>
<p style="padding:0;margin:0;color:green;text-decoration:underline;font-weight:bold">Instructions to submit the sample: </p>
<p style="padding:0;margin:0">Tag your <span style="color:green; font-weight:bold"> Sample Unique ID </span> as per code given below while submitting the sample</p>
<ul>
  <li>UV_139_A</li>
  <li>UV_139_B</li>
  <li>UV_139_C</li>
  <li>UV_139_D</li>
  <li>UV_139_E</li>
  <li>UV_139_F</li>
  <li>UV_139_G</li>
  <li>UV_139_H</li>
  <li>UV_139_I</li>
  <li>UV_139_J</li>
  <li>UV_139_K</li>
  <li>UV_139_L</li>
  <li>UV_139_M</li>
  <li>UV_139_N</li>
  <li>UV_139_O</li>
  <li>UV_139_P</li>
  <li>UV_139_Q</li>
  <li>UV_139_R</li>
  <li>UV_139_S</li>
  <li>UV_139_T</li>
</ul>
<p style="padding:0;margin:0">Applicant needs to get signature from their supervisor</p>
<p style="padding:0;margin:0">Consult Instrument Faculty-Incharge with your sample specification & get authenticated</p>
<p style="padding:0;margin:0">After all authenticationsend scan copy to <a href="mailto:booking.crf@nitk.edu.in">booking.crf@nitk.edu.in</a></p><br>
<p style="padding:0;margin:0">Regards</p>
<p style="padding:0;margin:0">Office-CRF</p><hr>