<<p>Dear</p><%= @user.name%>
<p>Kindly find attached slot form for:X-Ray Diffraction</p><br>
<p>1) User need to forward duly signed(E-signature acceptable) slot form to </p>
<p><link  href="booking.crf.edu.in"></p>
<p>2) After receiving signed form, concerned Multispecimen Grinder equipment operator will inform for available slot date</p>
<p>3) Tag your Sample Unique ID as per code given below while submitting the sample.</p>
<ul>
  <li>SG_3_A</li>
  <li>SG_3_B</li>
  <li>SG_3_C</li>
  <li>SG_3_D</li>
</ul><br>
<p>Address to Post Samples:</p>
<p>Central Research Facility,</p>
<p>NITK-Surathkal,</p>
<p>NH-66 Srinivasnagar,</p>
<p>Mangalore-575025, Karnataka.</p>
<p>Ph:</p>
<a href="tel:+4733378901">+47 333 78 901</a>
<p>(Please mention "X-ray diffraction & CRF/SG/3" Samples in the postal package)</p>
<p>Regards,</p>
<p>X Ray Diffraction Lab CRF</p>
<p>For further query mail us at:</p><link  href="booking.crf.edu.in">
