<%= stylesheet_link_tag "aboutUs" %>
<%= stylesheet_link_tag "loginFeatures" %>

<%= render 'partials/loginHeading' %>

 <div class="">
        <div class="about-heading">
            <h1>About CRF</h1>
        </div>
        <div class="about-body">
            <p>
                CRF is setup with a budgetary support of Rs. 80 crores, towards Equipment. CRF has 100% Power back-up, centralized HVAC and Fiber optic connectivity. This is financed through HEFA loan. The total floor area being used is approximately 3,800 square metres.
            </p>
            <p>
                Also, a new building measuring approximately 5,500 square metres is constructed for the immediate expansion of CRF facilities. Another building with a floor area of approximately 5,500 square metres is under construction to house various Centres of Excellence (CoEs).
            </p>
        </div>
        <div class="maps mt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.413737854019!2d74.79226801530432!3d13.009304190831145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35315f2fef445%3A0x2998688896466f0!2sCentral%20Research%20Facility%20(CRF)%2C%20NITK!5e0!3m2!1sen!2sin!4v1678428202800!5m2!1sen!2sin" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="contacts">
        <div class="more-info">
            <h3 class="fw-bold">For More Information, Contact:</h3>
            <h5><b>Prof. M. N. Satyanarayan </b>,Chairman, Central Research Facility(NITK)</h5>
            <h5>NITK Surathkal, Srinivasnagar, 575025.</h5>
            <h5>Chairman Office CRF, Ph: <span class="text-primary">0824-2473106</span>, Email: <span class="text-primary">office.crf@nitk.edu.in</span></h5>
            <h5 class="text-danger">For confidential communication: chairman.crf@nitk.edu.in</h5>
            <h5>Mob: <span class="text-primary">+91-9686146138</span></h5>
        </div>
        <div class="host">
            <p>Hosted by: CCC-NITK</p>
            <p>Content by: Prof. M.N. Satyanarayan, Prof. Udaya Bhat K</p>
            <p>Technical implementation by: Anil Reddy (MIS Officer, NITK)</p>
            <p>Designed by: Akash Gupta</p>
        </div>
    </div>

    <%= render 'partials/mainpage_footer' %>
