<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<%= stylesheet_link_tag "announcement" %>



<div id="ann-container">
    <div>
        <h1 id="equipment-name">NEW ANNOUNCEMENT</h1>
    </div>
</div>