
<%= stylesheet_link_tag "newLand.css" %>
<%= stylesheet_link_tag "newLandResp.css" %>

   
<%=render "partials/newNav"%>
   

        <div id="content" style="height: 100vh;"></div>
    </div>

    <div id="call_to_action" class="font_PT_sans">
        <h1 class="cta_heading fw-bold">Explore. Innovate. Transform.</h1>
        <p class="cta_text">Unleash innovation at CRF 🚀</p>
        <p> Join our dynamic community driving cutting-edge research and solutions for a brighter future.</p>
        <div id="cta_btns">
            <button class="btn btn-primary" id="cta_btn_1">Book Slot</button>
            <button class="btn btn-light" id="cta_btn_2">Explore labs <svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg></button>
        </div>
    </div>


<%=render "partials/newFooter"%>



    <script>
        let user_img_1 = document.getElementById("user_img_1");
        let user_img_2 = document.getElementById("user_img_2");
        let profile_options = document.getElementById("profile_options");
        let count = 0;
        user_img_1.addEventListener("click", () => {
            if (count % 2 === 0) {
                profile_options.style.display = "none";
            }
            else {
                profile_options.style.display = "flex";

            }

            count++
        })
        user_img_2.addEventListener("click", () => {
            if (count % 2 === 0) {
                profile_options.style.display = "none";
            }
            else {
                profile_options.style.display = "flex";

            }

            count++
        })

    </script>
