<h1>Editing hr fesem c</h1>

<%= render "form", hr_fesem_c: @hr_fesem_c %>

<br>

<div>
  <%= link_to "Show this hr fesem c", @hr_fesem_c %> |
  <%= link_to "Back to hr fesem cs", hr_fesem_cs_path %>
</div>
