<p style="color: green"><%= notice %></p>

<h1>Three d non contacts</h1>

<div id="three_d_non_contacts">
  <% @three_d_non_contacts.each do |three_d_non_contact| %>
    <%= render three_d_non_contact %>
    <p>
      <%= link_to "Show this three d non contact", three_d_non_contact %>
    </p>
  <% end %>
</div>

<%= link_to "New three d non contact", new_three_d_non_contact_path %>
