

<%=render "partials/loginHeading"%>
<% if current_user%>
<%=render "partials/formsBackbtn"%>
<%end%>

<h1 class="text-center font-unbounded" id="head-new">Feedback Form</h1>
<div id="container-ann">
    <%= render 'form', feedback: @feedback %>
</div>
<%=render "partials/footer" %>
