<%= stylesheet_link_tag "loginFeatures"%>
<%=render "partials/loginHeading"%>
<div class="table-container">
  <div class="t-head">
          <div class="h-cell" id="application-no">
              Application No.
          </div>
          <div class="h-cell" id="equipment">
              Equipment
          </div>
          <div class="h-cell" id="samples">
              No of samples
          </div>
          <div class="h-cell" id="booking">
              Booked on
          </div>
          <div class="h-cell" id="slot-assign">
              Assigned slot on
          </div>
  </div>
  <div class="table-row">
      <div class="table-cell" id="#application-no">
         jhhj
      </div>
      <div class="table-cell" id="#equipment">
          Equipsfsfs
      </div>
      <div class="table-cell" id="#samples">
          No of samplessdfs
      </div>
      <div class="table-cell" id="booking">
          Booked onsfs
      </div>
      <div class="table-cell" id="#slot-assign">
          Assigned slot on
      </div>
  </div>
  <div class="table-row">
      <div class="table-cell" id="#application-no">
         jhhjsv
      </div>
      <div class="table-cell" id="#equipment">
          Equipsfsfsxvs
      </div>
      <div class="table-cell" id="#samples">
          No of samplessdfs
      </div>
      <div class="table-cell" id="booking">
          Booked onsfsbfa
      </div>
      <div class="table-cell" id="#slot-assign">
          Assigned slot onfsSzvv
      </div>
  </div>
</div>
 <%=render "partials/footer" %>
