<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">
            
            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <a class="nav-link active sidelink-wrap" aria-current="page" href="#">All</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active sidelink-wrap" aria-current="page" href="#">Pending Slot</a>
                        </li>
                <li class="nav-item">
                        <a class="nav-link active sidelink-wrap" aria-current="page" href="#chart">Alloted Slots</a>
                        </li>
                <li class="nav-item">
                        <a class="nav-link active sidelink-wrap" aria-current="page" href="#chart">Completed Slots</a>
                        </li>
                <li class="nav-item">
                        <a class="nav-link active sidelink-wrap" aria-current="page" href="#chart">Cancelled Slots</a>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">BET Surface Area Analyzer Slots</h2>
        </div>

        
        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col">Appl No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Institute</th>
                        <th scope="col">Department</th>
                        <th scope="col">Contact No:</th>
                        <th scope="col">No of Samples</th>
                        <th scope="col">Degrassing Temperature</th>
                        <th scope="co">Customized Temperature</th>
                        <th scope="co">Analysis Required</th>
                        <th scope="co">Standard Analysis</th>
                        <th scope="col">Customized Analysis</th>
                        <th scope="col">Incompatability with any material</th>
                        <th scope="col">Incompatible material</th>
                        <th scope="col">Toxicity</th>
                        <th scope="col">Specific Disposal Method</th>
                        <th scope="col">Suggested Disposal Method</th>
                        <th scope="col">More Information</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col">Slot Time</th>
                        <th scope="col">Reference Paper</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">CRF/XRD/741	</th>
                        <td>Mark</td>
                        <td>NITK</td>
                        <td>Chemical</td>
                        <td>90582655154</td>
                        <td>1</td>
                        <td>C, O, H,N</td>
                        <td>Powder</td>
                        <td>10°-80°</td>
                        <td>NIL</td>
                        <td>2023-02-20 11:53:49</td>
                        <td>Both</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>N/A</td>
                        <td>2023-02-20 11:53:49</td>
                        <td>Booked</td>
                        <td>10-30 A.M</td>
                        <td>10-30 A.M</td>
                        <td>10-30 A.M</td>
                        <td>Not Available OR <button type="button" class="btn btn-primary">Primary</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
        </div>
        

    </div>


</div>
