*{
    margin: 0;
    padding: 0%;
}

body{
    background-color: #ddf1fb;
    font-family: quicksand;
}

.about-heading{
    font-family: Unbounded;
    text-align: center;
    padding: 2%;
}

.about-body{
    font-family: Quicksand;
    /* margin: 2%; */
    padding: 5%;
    text-align: justify;
    font-size: large;
    background-color: #fff;
    margin-left:auto;
    margin-right:auto;
    width:92%;
    border-radius: 15px;
    /* border-radius:0% */
}

.maps{
    display: flex;
    justify-content: center;
}

.contacts{
    background-color: #fff;
    width: 70%;
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.more-info{
    text-align: center;
    margin-top: 2%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1em;
    border-radius: 15px;
}

.host{
    text-align: center;
    margin-top: 1%;
    background-color: #fff;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    padding: 1em;
    border-radius: 15px;
}

@media screen and (max-width:550px) {
    .maps{
        margin: 1em;
    }

    iframe{
        /* width: 450px;
        height: 400px; */
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
        
    }

    .more-info{
        margin: 2%;
        font-size: small;
        padding: 1%;
    }

    .host{
        margin: 2%;
    }
    
}



@media screen and (max-width:780px)
{

}