*{
    margin: 0%;
    padding: 0%;
}
#notice{
    height: 0;
    position: absolute;
    top: 0;
}
/*
#container-ann {
    background-color:aliceblue;
    margin: auto;
    overflow-x: auto;
    min-height: 100vh;
}
#head-new {
    background-color: aliceblue;
    width: 90%;
    margin: 0.2em auto ;
    border-radius: 10px 10px 0 0;
}

#form {
    margin: 2em;
}

#date {
    border: 0;
    border-radius: 5px;
}

#head {
    text-align: center;
    font-family: "unbounded", 'sans-serif';
}

#thead {
    background-color: #3f5ac9;
    color: aliceblue;
}

#new {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3f5ac9;
    color: aliceblue;
    text-decoration: none;
    padding: 1em;
    border-radius: 20px;
    font-family: quicksand;
    transition: 0.5s;
}
#new:hover {
    transform: scale(1.05);
    background-color: #2c4ed7;
}

#ann-container {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    height: 100vh;
    border-radius: 1em;
} */

#header{
  position: sticky;
}


.container1{
    display: grid;
    grid-template-columns: 2fr 4fr;
    font-family: 'Quicksand';
    column-gap: 10px;
    overflow-y: hidden;
}

.card{
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-text{
  padding: 1%;
}

#item1{
    background-color: aliceblue;
    height: 100vh;
    /* overflow: auto; */
    overflow-y: scroll;
}

#item2{
    background-color: aliceblue;
    height: 100vh;
    overflow-y: scroll;
    padding: 1em;
    /* overflow-x: hidden; */
}

.announce-lists .card{
    align-items: center;
    margin: 1em;
    width: 90%;
}

.announce-lists .card-text{
  line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.descriptions{
  justify-content: center;
}

.announce-description .card{
    margin: 1.5em;
    width: 95%;
    height: 25em;
}



@media all and (max-width: 768px)
{
    .container1{
        display: flex;
        flex-direction: column;
    }

    #item1{
        display: none;
    }

    .descriptions{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card{
      display: flex;
      flex-direction: column;
      width: 85%;
    }


}
