.equipments-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}
.heading-status{
    width: 100%;
    justify-content: flex-end;
}
h5{
    display:inline;
}
span{
    justify-self: flex-end;

}