@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
  background: rgba(4, 4, 8, 0.689);
  background: radial-gradient(
    circle,
    rgb(52, 52, 70) 0%,
    rgb(11, 15, 11) 100%
  );
}

.cont{
  display:flex;
  flex-direction:column;
}

.m-head{
  margin-top:0.5em;
  text-align: center;
  font-size:1.5em;
  font-weight: 500;
  color: white;
  font-family:var(--bs-body-font-family);
  user-select: none;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/*back-button*/
.bel-head{
	background-color: red;
	height: 30em;
}
#button3 {
	display: flex;
	height: 3em;
	width: 100px;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee4b;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	cursor: pointer;
	border: none;
	background: #fff;
	margin-left: 1em;
	position: absolute;
	left: 1em;
	

}
   
#button3 > svg {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	transition: all 0.4s ease-in;
}
   
#button3:hover > svg {
	font-size: 1.2em;
	transform: translateX(-5px);
}
   
#button3:hover {
	box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
	transform: translateY(-2px);
}
/*back-button ends*/



.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 40/56;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.card > * {
  z-index: 2;
}

.card > .image {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}

.card::before,
.card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}

.card::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}

.card:hover,
.card:focus {
  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scaleX(1);
}

.card:hover h2 .char ,
.card:focus h2 .char
 {
  opacity: 1;
  transform: translateY(0);
  color: inherit;
}

.card:hover h2 .char ,
.card:focus h2 .char {
  transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
}

.card:hover .image,
.card:focus .image {
  transform: scale(1.1);
}
.card {
  width: 90vw;
  max-width: 300px;
}
:root {
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;
  --text-timing: 0.75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
  --title-stagger: 0.05s;
  --highlight: white;
}
.card:hover .text {
  opacity: 1;
}



.text {
  position: absolute;
  inset: 20px;
  top: auto;
  opacity: 0;
  transition: opacity 0.3s;
}

h2 {
  
  font-size: clamp(20px, 4vw, 30px);
  font-weight: 500;
  margin-bottom: 0.2em;
  color: white;
}

h2  .char{
  color: var(--highlight);
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition-property: transform, opacity, color;
  transition-timing-function: var(--text-ease);
  transition-duration: var(--text-timing), var(--text-timing),
    calc(var(--text-timing) * 2);
}
.role{
  font-weight:400;
  font-family: "Quicksand";
  font-size: 1.2em;
  color: white;

}

.dev-icons {
	margin-top: 10px;
	padding: 15px 0px;
  font-size: 20px;	
}
.dev-icons a{
		display: inline;
		margin-right: 10px; 
}
.dev-icons a i{
  color:white;
} 
.dev-icons a i:hover{
		transform: scale(1.5);
		color: #2ab1ce;
}

@media only screen and (max-width: 900px)  {
  .card {
    width: 45vw;
    height: 55vh;
   
  }

  
}