.container {
    padding: 0;
    font-family: "Quicksand", "sans-serif";
}

#equipment-name {
    display: flex;
    justify-content: center;
    width: 75%;
    font-family: "Unbounded", "sans-serif";
    background-color: #f9fdff;
    margin: 0 auto 0.3em auto;
    border-radius: 1em 1em 0 0;
}

.hero {
    background-color: #f9fdff;
    padding: 20px 40px;
    width: 75%;
    margin: 0 auto auto auto;
    border-radius: 0 0 15px 15px;
}

@media only screen and (max-width: 600px) {
    .hero {
        width: 95%;
    }

    #equipment-name {
        width: 95%;
    }

}