@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
.container {
    padding: 0;
    font-family: "Quicksand", "sans-serif";
}

#equipment-name {
    display: flex;
    justify-content: center;
    width: 75%;
    font-family: "Jost", "sans-serif";
    background-color: #f9fdff;
    margin: 0 auto 0.3em auto;
    border-radius: 1em 1em 0 0;
}

.hero {
    background-color: #f9fdff;
    padding: 20px 40px;
    width: 75%;
    margin: 0 auto auto auto;
    border-radius: 0 0 15px 15px;
}

.back-btn-forms {
    padding: 0.4em 3em;
}

.btn-outline-warning {
    --bs-btn-color: #3f5ac9;
    --bs-btn-border-color: #3f5ac9;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #3f5ac9;
    --bs-btn-hover-border-color: #3f5ac9;
}

.set {
    border: 2px solid grey;
    border-radius: 1em;
    padding: 10px;
}

h1 {
    text-align: center;
}

.input-group-text {
    white-space:pre-line ;
}

@media only screen and (max-width: 600px) {
    .hero {
        width: 95%;
    }

    #equipment-name {
        width: 95%;
    }

    .input-group-text {
        width: 100%;
    }

}