  /* switcher */

  #switcher-div {
    display: flex;
    width: 95%;
    margin: 1em auto;
    border: 2px solid;
    border-radius: 1em;
    padding: 0.5em;
    background-color: #fff;
    margin-bottom: 5em;
    font-size: 10px;
}
  
  #char {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
  }
  
  #manu {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
  }
  #process {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
  }

  /* special == comes hanndy while applying JS features*/
  .vis {
    display: none;
  }
  .grid {
    display: grid;
  }

  .backcolor {
    background: #3f5ac9;
    color: #ddf1fb;
  }
  /*  */

  #manufacturing, #characterization, #processing {
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    grid-row-gap: 1em;
  }

  .equipment{
    margin: auto;
  }





