@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", "sans-serif";
    background-color: #ddf1fb;
}

.gallery-heading{
    margin: 2em;
    font-family: 'Jost';
}

