@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #ddf1fb;
}

#heading {
  color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Jost", 'sans-serif';
}

.font-unbounded {
  font-family: "Jost", 'sans-serif';
}

.font-quiucksand {
  font-family: "Quicksand", "sans-serif";
}

.navlist {
  list-style: none;
  text-decoration: none;
  display: flex;
  font-family: "Quicksand", "sans-serif";
}
.nav-link{
  color:black;
}
.nav-link:hover{
  color:black;
}

.center {
  display: flex;
  justify-content: center;
}

.spacing {
  margin: 1rem 4rem;
}

#navigation {
  font-family: "Quicksand", "sans-serif";
}

.nav-item {
  color: black;
  transition-duration: 0.5;
}

.coolBeans {
  border-radius: 20px;
  color: rgb(249, 249, 249);
  font-family: "Quicksand", "sans-serif";
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.6em 1.5em;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-color: #f9fdff;
  border-radius: 20px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -100%) rotate(-45deg);
  transform-origin: top left;
  transition: 0.5s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  will-change: transform;
}


#togle {
  margin-right: 1em;
}

#container {
  display: flex;
  margin: auto;
  max-width: 100%;
  min-height: 69vh;
  font-family: "Quicksand", "sans-serif";
}

#guide-wrap {
  width: 45%;
}

#instruction {
  width: 75%;
  margin: auto 10%;
  background-color: #3f5ac9;
  color: aliceblue;
}

#login {
  background-color: #f9fdff;
  padding: 20px 40px;
  width: 50%;
  margin: 0 auto auto auto;
  border-radius: 15px;
}

#sbt {
  width: 100%;
  background-color: #3f5ac9;
}

h2 {
  text-align: center;
}

.f-container {
  display: flex;
  background-color: #343a40;
  justify-content: space-around;
  color: white;
  font-family: "Quicksand", "sans-serif";
  margin: 2em 0 0 0;
}

.f-container:hover {
  transform: rotateY(360deg);
  width: 100%
}

.left-child {
  border: 0px;
  padding-left: 1%;
  width: 33%;
}

.middle-child {
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: center;
  border: 0px;
}

.right-child {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: end;
  margin: 1em 1em 0 1em;
}

.icons ul {
  display: flex;
  margin: 0;
  padding: 0;
  scale: 1.5;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}

.icons ul li:nth-child(3) a:before {
  background: rgb(252, 4, 124);
}

.icons ul li:nth-child(4) a:before {
  background: darkblue;
}

#f-heading {
  font-size: 2em;
}

#footer-img {
  height: 40px;
}

#footer-left-child {
  display: flex;
  margin: 1em 1em 0 1em;
}

.f-text {
  padding: 0 0 10px 19px;
  width: 180px;
}

#first-social {
  margin: 0 0 0 0;
}


#footer-right-child{
  display:flex;
  flex-direction: column;

}

#button{


  width: 10em;;
  height: 3em;
  font-weight: bold;
  text-decoration: none;
  background: #f8f6f6;
  text-align: center;
  color: #141111;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #1e1919;
  border-radius: 10em;
}





#button:hover{

  border: 3px solid #0a0a0b;
  background: transparent;
  color: #fbfdfe;
  border: 3px solid #f6f7f8;
}




@media only screen and (min-width:690px) and (max-width: 1024px) {
  #heading img {
    display: none;
  }

  #logo {
    display: block;
    margin-left: 5%;
  }

  .coolBeans {
    width: fit-content;
    /*edited from 100% width to fit content to make navbar correct */
  }

  .spacing {
    margin: 0rem 0rem;
    /*edited to make navbar work right */
  }
}

/* this class will get toggles to make questions appear or disappear in form*/
.vis {
  display: none;
}

/*Equip status in weekly availabiliy modal*/
.status {
      display: flex;
      align-items: center;
      /* margin-bottom: 10px; /* Add some margin between each status line */
    }

    .status-text {
      margin-right: 5px;
    }

    .status-dot {
      width: 120px;
      height: 15px;
      margin-right: 5px;
      margin-top: 13px;
      margin-left: 10px;
    }

    .available { background-color: green; }
    .busy { background-color: orange; }
    .not-available { background-color: grey; }


@media only screen and (max-width: 890px) {

  #f-heading{
    font-size: 1.7em;
  }
  .container {
    flex-direction: column;
  }

  #guide-wrap {
    width: auto;
    margin-bottom: 2%;
  }

  #login {
    width: 98%;
    margin: 2em 0 0 0;
  }

  .f-container {
    display: flex;
    flex-direction: column;
    min-width:25rem;
  }

  .left-child {
    width: auto;
    padding-left: 0%;
    margin-bottom:0.9em;
  }

  .f-text {
    width: 180px;
    padding: 0 0 25px 19px;
  }

  .middle-child {
    width: auto;
    justify-content: flex-start;
    margin: 0 0 0 56px;
    margin-bottom:0.9em;
  }

  .right-child {
    align-items: start;
    width: auto;
    padding-bottom:8px;
  }
}
@media only screen and (min-width: 890px) and (max-width: 1024px) {
  #f-heading{
    font-size: 1.64em;
  }
  .f-container{
    display:flex;
    flex-direction:row;
    bottom:0;


  }
  .middle-child{
    margin-left: 1em;
    margin-bottom:1em;
    display:flex;
    justify-content: center;
    align-items: flex-end;



  }
  .icons ul{
    margin-left: 2em;
  }

  .icons li{
    margin-left: 3px;
  }


  .icons  li a{
    margin-left: 5px;
    display:flex;
    justify-content: center;
    align-items:center;

  }
  .right-child{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-end;


  }
}
