@media only screen and (max-width: 992px) {
    #nav_grid_1, #nav_grid_2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24em, 2fr));
    }

    #collapse_logo, #collapse_login {
        display: block!important;
    }
    
    #non_collapse_logo, #non_collapse_login {
        display: none;    
    }
    
    .nav-item {
        margin: 0.1em 0;
    }
    .nav-link {
        margin: 0 1em;
        background-color: white;
        border-radius: 8px;
        margin: 0;
        padding-left: 1em;
    }
    
    #user_link {
        display: flex;
        justify-content: center;
    }
    
    #book_slot {
        display: block;
    }

    
    
}

@media (max-width: 500px){
    footer #lowest {
        flex-direction: column;
        justify-content:center;
        font-size: 14px;
        text-align: center;
    
    }

    #lower {
        grid-template-columns: repeat(auto-fill, minmax(6em, 2fr));
    }

    #crf_web_team {
        display: block!important;
    }

    #call_to_action {
        width: 100%;
        padding: 2em;
    }
}