*{
    margin: auto;
    padding: 0;
}

body{
    font-family: 'quicksand';
    background-color: #ddf1fb;
}

.container{
    padding: 1em;
}

.user-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5em;
}

#button{
    padding: 1.1em;
    /* width: 20% */
}

.internal-user{
    font-size: 1.3rem;
}

.internal-user-def{
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
}

.external-user-def{
    font-size: 1.3rem;
    background-color: #fff;
    padding: 0.8em;
    border-radius: 1em;
}

.inter-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

.int-procedure{
    font-size: 1.3rem;
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
}

.ext-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

.ext-procedure{
    font-size: 1.3rem;
    background-color: #fff;
    padding: 1em;
    border-radius: 15px;
}

@media  (max-width: 612px) {
    
    .user-btns{
        display: flex;
        flex-direction: column;
        padding: 1.2em;
    }

    #IntFlowDigram{
        height: 212x;
        width: 400px;
    }

    

    #external-acad{
        height: 212x;
        width: 400px;
    }

    #external-industry{
        height: 212x;
        width: 400px;
    }

    .int-procedure{
        font-size: 1em;
    }

    .internal-user{
        font-size: 1em;
    }

    .external-user-def{
        font-size: 1em;
    }

    .ext-procedure{
        font-size: 1em;
    }

    .btn{
        padding: 1.1em;
        width: 60%
    }

    #button{
        /* width: 60%; */
        margin: 1em;
    }
    
    #switcher-div {
        width: 95%;
    }
    
}

@media  (max-width: 411px) {
    
    .user-btns{
        display: flex;
        flex-direction: column;
        padding: 1.2em;
    }

    #IntFlowDigram{
        height: 212x;
        width: 400px;
    }

    #external-acad{
        height: 212x;
        width: 400px;
    }

    #external-industry{
        height: 212x;
        width: 400px;
    }

    .int-procedure{
        font-size: 1em;
        border-radius: 2%;
    }

    .internal-user{
        font-size: 1em;
    }

    .btn{
        padding: 1.1em;
        width: 60%
    }

    #button{
        /* width: 60%; */
        margin: 1em;
    }
    
    
}




  /* switcher */

  #switcher-div {
    display: flex;
    width: 60%;
    margin: 1em auto;
    border: 2px solid;
    border-radius: 1em;
    padding: 0.5em;
    background-color: #fff;
}

  #nitk {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
  }

  #ext-acad {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
  }
  #ext-indus {
    width: 33%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
  }

    /* special= used for the purpose of JS */
    .vis {
        display: none;
      }
    
      .backcolor {
        background: #3f5ac9;
        color: #ddf1fb;
      }