<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<div class=""><div class="aHl"></div><div id=":16u" tabindex="-1"></div><div id=":171" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."><div id=":15w" class="a3s aiL "><div class="adM">


</div><center>
<table bgcolor="#f8f9fa" border="0" cellpadding="0" cellspacing="0" height="100%" id="m_5428707251486403977bodyTable" style="background:#f8f9fa;border-collapse:collapse;height:100%!important;margin:0;padding:0;width:100%!important" width="100%">
	<tbody>
		<tr>
			<td align="center" id="m_5428707251486403977bodyCell" style="border-top-width:0;height:100%!important;margin:0;padding:20px 10px;width:100%!important" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:0;max-width:600px" width="100%">
				<tbody>
					<tr>
						<td align="center" bgcolor="#f8f9fa" id="m_5428707251486403977templatePreheader" style="text-align:center;background:#f8f9fa;border-bottom-color:darkslategrey;border-bottom-style:solid;border-bottom-width:10px;border-top-width:0" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
							<tbody>
								<tr>
									<td valign="top">
									<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
										<tbody>
											<tr>
												<td style="text-align:center" valign="top">
												<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td align="center" style="text-align:center;color:#ffffff;font-family:Helvetica;font-size:11px;line-height:125%;padding:9px 18px;text-align:center" valign="top"><img align="center" alt="" height="60" src="https://raw.githubusercontent.com/Shivyoddha/CRF/main/app/assets/images/CRF%20NITK.png?token=GHSAT0AAAAAAB6CIJF4URGZKT6XRAVLR6TQY7HJ54A" style="border:0;height:auto!important;margin:0px;margin-bottom:10px;outline:none;text-decoration:none;width:380px" width="180" class="CToWUd" data-bit="iit"> <img src="https://ci3.googleusercontent.com/proxy/iYowUsYhrylhEe-_gLU_wB1esQwvO6e_5gfSSu5lGJeD2s5xcAbt71szac46LipIZB9hlAboNCTQV8ykQm2WC4x2LE_8LpZkeP9T-kGza8xc_XfiAFa4bMUdlhShtAcVm3kfiuxM97rHD3mSCob7OhHElqt3v-eTylz2BXhOJNyQ4lNi9-QYrhXo8yUEzJvpnVYfY0zZYJ6_YyiGPQ3qYvxCeP6Zvy3VUx5OF-V_uC4hAjbARF7hkYxZWsHYQAehnD59kQ3nRCmrFjZrJoyypz94_B8xEaM7t7kFGBsRRhOWsecj81J2cfFjr8QBltHaN2JiIu5yCzq1kuRbD1msOFWE-ZOtSVmB6GmcxfmoENyJsdyNxy6dzRojJtsqohRpjVqtNivXdSn8NO5MqfjHXtDQkOE7SoI4QewQweGWsJqCi_3hWgz8kHamWNVF47CnGBxe9r4iGpYgzkKVVmnw-FpScGkZt5iqVJ3n1o-KMM6-4k-4K79aG0MGm31AZmrQrCNiNg1TTEkhJyXHFnHHb4xbHwTVBSKH_UNYQCV9Ddm1R2ATHaP9rkllCXXU=s0-d-e1-ft#https://www.hackerrank.com/signature.png?d=cjJCeWdVZGtLTlFHaUx0SldlaXZxNXlwTXhUbE85bmM4QWQ1Snhtd24yQkpqdVdwcUxlaEFQNFNNcit1ZHc4bXFSWWhuSHZYL3hPZUtnK3V2YW1RVE91QTlWOThVQjhJTXFERy9yTW1JSnozR2xrUU8vbVVwRGNGZHlSS3FSRnlqSmk2aUtKOGI2RjJoa3FkSkNuRkJBQkZXVyt0Z21BZzJ5REZYM3RHY0lhbmliSjM0SFM2UXBrYkZDMXZUZThBNEVBL0JGSlo0L3hZWGRhS0FaWFhRUT09LS1KbzdSYmpTK24rMnlGaVc5WUdrbEZnPT0=--03e97958b724f80441b8c1a296217f311ecc2904" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd"></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#ffffff" id="m_5428707251486403977templateUpperBody" style="background:#ffffff;border-bottom-width:0;border-top-width:0" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
							<tbody>
								<tr style="border-bottom:1px solid #eff1f3;border-left:1px solid #eff1f3;border-right:1px solid #eff1f3">
									<td style="padding-top:30px;padding-bottom:30px;padding-left:20px;padding-right:20px" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
										<tbody>
											<tr>
												<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:15px;line-height:125%;padding:9px 18px 0px 18px;text-align:left" valign="top"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hi <%= @resource.email %><br>
															<br>
															Someone has requested a link to change your password. You can do this pressing the button below.</span></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
										<tbody>
											<tr>
												<td valign="top">
												<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:15px;line-height:125%;padding:9px 18px 5px;text-align:left" valign="top">
															<table style="min-width:100%;width:100%" width="100%">
																<tbody>
																	<tr>
																		<td style="border:1px solid #c2c7d0;padding:12px;border-radius:4px">
																		<h2 align="left" style="color:darkslategrey;display:block;font-family:arial,helvetica neue,helvetica,sans-serif;font-weight:bold;font-size:18px;font-weight:normal;letter-spacing:normal;line-height:125%;margin:0;padding:0 0 4px;text-align:left"><b>Reset password Link below</b></h2>

																		<h3 align="left" style="color:#979faf;display:block;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;letter-spacing:normal;line-height:125%;margin:0 0 10px 0;padding:0;text-align:left"> If you didn't request this, please ignore this email.</h3>
																		<span></span></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>

												<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td align="center" style="padding:18px" valign="top">
															<table bgcolor="#2EC866" border="0" cellpadding="0" cellspacing="0" style="background:darkslategrey;border-collapse:separate!important;border-radius:3px">
																<tbody>
																	<tr>
																		<td align="center" style="font-family:Arial;font-size:16px;padding:15px;color:#fff" valign="middle"><a href="" style="color:#ffffff;display:block;font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word" title="Solve birthday-cake-candles!" target="_blank">Change my Password</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>

												<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td valign="top">
															<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
																<tbody>
																	<tr>
																		<td align="left" style="color:#606060;font-family:Verdana,Geneva,sans-serif;font-size:15px;line-height:125%;padding:9px 18px;text-align:left" valign="top">
																		<p><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Thank You,<br>
																		The <span class="il">CRF</span> team</span></p>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#eff1f3" id="m_5428707251486403977templateLowerBody" style="background:#eff1f3;border-bottom-width:0;border-top-width:0" valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
										<tbody>
											<tr>
												<td valign="top">&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f8f9fa" id="m_5428707251486403977templateFooter" style="background:#f8f9fa;border-bottom-width:0;border-top-width:0" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
										<tbody>
											<tr>
												<td valign="top">
												<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td valign="top">
															<table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:100%" width="100%">
																<tbody>
																	<tr>
																		<td align="center" style="color:#000000;font-family:Verdana,Geneva,sans-serif;font-size:11px;line-height:125%;padding:9px 18px;text-align:center" valign="top"><br>
																		<span style="color:#808080"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Your password won't change until you access the link above and create a new one.Copyright © 2023 </td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</center>
<img width="1px" height="1px" alt="" src="" class="CToWUd" data-bit="iit"></div><div class="yj6qo"></div></div><div id=":16q" class="ii gt" style="display:none"><div id=":16p" class="a3s aiL "></div></div><div class="hi"></div></div>