<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">X-ray Diffraction</h1>

    </div>
    <div class="hero">

        <div class="equipment-img-wrap">
            <div class="equipment-img">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/XRD1.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/RS_Result.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/XRDCompare.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
        </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold">Make:</span><span class="data">Empyrean 3rd Gen, Malvern PANalytical, Netherlands</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Features:</span><span class="data">Line & Point focus using Cu Kα, Co Kα; 0D, 1D & 2D detector using PIXcel 3D Detector</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Resolution:</span><span class="data">2θ linearity equal or better than ±0.01°, Angular resolution: 0.026° FWHM on LaB<sub>6</sub>, Smallest increment: 0.0001°</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data">CRF Annexe - G01</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Facilities:</span><span class="data">Reflection-Transmission Spinner: For Thin Film/ Fabric samples, Reflection spinner uses Bragg-Brentano geometry while Transmission spinner helps to detect embedded particles in samples, Flat Stage: Stationary sample holder for Powder/ Solid samples (<2mm thick), Capillary Stage: For filament samples (<10mm Dia), Liquid/ Gel samples, 3-axes (chi, phi, z) cradle: To measure Residual Stress and Texture of solid, Thin film samples</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">Note: Why “Co” Source</span><span class="data">• Although Copper is best choice to use as anode source for XRD. Due to presence of Fe, Ni, Cr, Co, etc in sample diffractogram will give high background due to an effect called fluorescence. Practical solution is to use lower atomic wt as anode material. But, remember as diffractogram follow’s Bragg’s law (nλ = 2dsinθ) due to change in ‘λ’ for Co you will get a peak shift to higher degree angle.</span>
            </div>

            <p class="fw-bold">Applications of X-ray Diffraction (XRD):</p>
            <div class="mb-3" id="applications-div">
                <div>
                <ul>
                <li>Powder Diffraction</li>
                <li>Transmission Diffraction</li>
                <li>Solid Samples XRD</li>
                <li>SAXs & WAXs (nano-materials)</li>
                <li>Micro-diffraction (small solid samples)</li>
                <li>Liquid Suspension samples</li>
                <li>Polycrystalline thin films (GIXRD)</li>
                <li>Residual Stress and Texture</li>
                </ul>
                </div>
            </div>


        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Regular Charges</u></h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" id="user-type">User Type</th>
                  <th scope="col" id="p-xrd">P-XRD</th>
                  <th scope="col" id="gixrd">GIXRD</th>
                  <th scope="col" id="residual-stress">Residual Stress</th>
                  <th scope="col" id="texture">Texture</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">NITK Users</th>
                  <td>	Rs. 400/- <span class="text-warning">[Per Sample]</span></td>
                  <td>Rs. 800/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1000/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1000/- <span class="text-warning">[Per Sample]</td>

                </tr>
                <tr>
                  <th scope="row">Academic institutions and R&D organizations*#</th>
                  <td>Rs. 600/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1200/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1500/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1500/- <span class="text-warning">[Per Sample]</td>

                </tr>
                <tr>
                  <th scope="row">Industry personnel*#</th>
                  <td>Rs. 1000/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 1800/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 2000/- <span class="text-warning">[Per Sample]</td>
                  <td>Rs. 2000/- <span class="text-warning">[Per Sample]</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="express-charges">
            <h3 class="text-danger"><u>Express Charges</u></h3>
            <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" id="user-type">User Type</th>
            <th scope="col" id="p-xrd">P-XRD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">NITK Users</th>
            <td>	Rs. 600/- <span class="text-warning">[Per Sample]</span></td>
          </tr>
          <tr>
            <th scope="row">Academic institutions and R&D organizations*#</th>
            <td>Rs. 900/- <span class="text-warning">[Per Sample]</td>
          </tr>
        </tbody>
      </table>
        </div>

        <div class="text-danger">
            <p>*Analysis, Sample preparation charges is not included.<p>
            <p>#GST(18%) extra.</p>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Dr. Rizwanur Rahman (XRD Faculty in-charge) Mob: <span class="text-info">+91-9620169801</span>, Email:<span class="text-info">crf_xrd@nitk.edu.in</span></h5>
        </div>

    </div>
</div>

<%=render "partials/footer" %>
