<h1>Editing atomic force microscope</h1>

<%= render "form", atomic_force_microscope: @atomic_force_microscope %>

<br>

<div>
  <%= link_to "Show this atomic force microscope", @atomic_force_microscope %> |
  <%= link_to "Back to atomic force microscopes", atomic_force_microscopes_path %>
</div>
