<h1>Editing scratch indentation</h1>

<%= render "form", scratch_indentation: @scratch_indentation %>

<br>

<div>
  <%= link_to "Show this scratch indentation", @scratch_indentation %> |
  <%= link_to "Back to scratch indentations", scratch_indentations_path %>
</div>
